table tbody tr {
    cursor: pointer;
}

table thead tr {
    background: #eaedce;
    text-align: center;
    font-family: "JetBrains Mono SemiBold", monospace;
    font-size: 17px;
}

table tbody tr td {
    font-family: "Arial", monospace;
    font-size: 17px;
}

