.card-header {
    background-color: #eaedce;
}

.alert {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
}

.comment-form-show{
    cursor: pointer;
}

.card-title{
    font-family: "JetBrains Mono SemiBold", monospace;
    font-size: 18px;
}
